{% extends "page.html" %}

{% block cssfile %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/highlight/tomorrow-night.css"></link>

{% endblock %}

{% block content %}
<div class="inner-section inner-header">
	<div class="about-this-container">
		<div class="title-container">
			<h1 class="title">ConnectSynth</h1>
			<div class="socialbuttons">
					<div id="twitter" class="socialbutton"></div>
					<div id="facebook_like" class="socialbutton"></div>
					<div id="google_plusone" class="socialbutton"></div>
			</div>
		</div>
		<p class="description">Audio Script Interface(ASI)の実験サイトです。Web楽器プラグインの作成、テスト、公開が出来ます。このサイトではプラグインはWebWorkerプロセスで動作します。</p>
	</div>
	<div class="open-instrument-container">
		<a class="open-instrument" href="{% url sdk_instrument_workspace %}">Open Workspace</a>	
	</div>
</div>
<div class="inner-section plugin-area">
	<div class="section-title">
		<h2 id="instruments">公開された楽器</h2>
	</div>
	<div class="plugin-list">
	{% for plugin in object_list %}
		<div class="plugin-block">
		    <div class="plugin-header">
		    	<div class="plugin-created">
			    	<p>by <a href='https://twitter.com/{{ plugin.user.twitteruser.screen_name }}/' target="_blank">{{ plugin.user.twitteruser.screen_name }}</a>
			    		at {{ plugin.createdat|date:"Y/m/d" }}</p>
		    	</div>
		    	<div class="plugin-title">
		    		<h3><a href='{% url sdk_instrument_player plugin.code %}'>{{ plugin.name }}</a></h2>
		    	</div>
		    </div>
			<div class="plugin-info">
			    
			    <p>{{ plugin.description|linebreaks }}</p>
		    </div>
		</div>
	{% endfor %}
	</div>

</div>
<div class="inner-section develop-info">
	<div class="section-title">
		<h2 id="document">プラグイン仕様(ドラフト版)</h2>
	</div>
	<div class="document">
		<div class="section">
			<h3>概要</h3>
			<p>ASIはJavascript上で動作するデジタル楽器のプラグイン規格です。
				WebAudioAPI/AudioDataAPIに対応しているブラウザ(Chrome、Safari、Firefoxなど)上での動作を想定しています。
				ホストプログラムはWebWorkerからimportScripts("main.js")してプラグインを読み込みます。
				</p>
			<p>以下はシンプルな例です。</p>

			<ul>
				<li>main.js</li>
			</ul>
			<pre><code class="javascript">
function Instrument(){
	this.sampleRate = null;
	this.offsetRadian = 0;
	this.stepRadian = false;
}

Instrument.prototype.setSampleRate = function(sampleRate){
	this.sampleRate = sampleRate;
}

Instrument.prototype.onNote = function(note){
	this.stepRadian = 440 * Math.pow(2, (note / 12) - 5) * 2 * Math.PI / this.sampleRate;
}

Instrument.prototype.offNote = 
Instrument.prototype.offAllNote = function(){
	this.stepRadian = false;
}

Instrument.prototype.getBuffer = function(length){
	var buffer = new Float32Array(length);
	if(this.stepRadian !== false) {
		for(var i = 0; i < length; i++) {
			this.offsetRadian += this.stepRadian;
			buffer[i] = Math.sin(this.offsetRadian);
		}
	}
	return [buffer, buffer];	
}
			</code></pre>
			<p>プラグイン側で定義されたInstrumentクラスがホストとのインターフェースとなります。Instrumentクラスには以下のメソッドを定義しておく必要があります。</p>
			
			<table>
				<tbody><tr>
					<th colspan=2>必須メソッド</th>
				</tr>
				<tr>
					<td>{null}</td>
					<td><strong>setSampleRate({number} sampleRate)</strong><br/>
						最初に呼ばれます。サンプリングレートを設定します。
					</td>
				</tr>
				<tr>
					<td>{null}</td>
					<td><strong>onNote({number} note, {number} verocity)</strong><br/>
						MIDIのONイベントを受け取とります。noteはMIDIノート番号です。
					</td>
				</tr>
				<tr>
					<td>{null}</td>
					<td><strong>offNote({number} note)</strong><br/>
						MIDIのOFFイベントを受け取とります。noteはMIDIノート番号です。
					</td>
				</tr>
				<tr>
					<td>{null}</td>
					<td><strong>offAllNote()</strong><br/>
						MIDIのALLOFFイベントを受け取とります。</td>
				</tr>
				<tr>
					<td>{Array}</td>
					<td><strong>getBuffer({number} length)</strong><br/>
						波形バッファーを要求されます。<br/>
						[{Float32Array} LeftBuffer, {Float32Array} RightBuffer]の配列を返します。
					</td>
				</tr>
				</tbody>
			</table>
			
			<p>また任意で以下のメソッドを追加する事もできます。</p>
			<table>
				<tbody><tr>
					<th colspan=2>任意メソッド</th>
				</tr>
				<tr>
					<td>{Object}</td>
					<td><strong>getBackground()</strong><br/>
						背景を指定します。<br/>
						返り値は以下のような属性を持つオブジェクトで返します。<br/>
						<pre><code class="javascript">{
	width: 100,	// {number} 画像の高さ
	height: 100,	// {number} 画像の幅
	image: "img/background.png"	// {string} 画像パス
}</code></pre>
					</td>
				</tr>
				<tr>
					<td>{Array}</td>
					<td><strong>getControlList()</strong><br/>
						getBackground()メソッドが有効なときに定義されていれば呼ばれます。<br/>
						コントロールオブジェクトのGUI設定を配列で返します。<br/>
						コントロールオブジェクトについては後述します。
					</td>
				</tr>
				<tr>
					<td>{null}</td>
					<td><strong>setValue({string} id, {string|number} value)</strong><br/>
						getControlList()で設定したコントロールが変更されたら呼ばれます。<br/>
						idはコントロールオブジェクトのid属性で指定した文字列です。
					</td>
				</tr>
				</tbody>
			</table>
			
		</div>
		
		<div class="section">
			<h3 id="guicontroller">GUIコントロールの設定</h3>
			<p>getControlList()メソッドの返り値配列の要素にコントロールオブジェクトを設定します。"knob"、"toggle"、"radio"の3種類があります。</p>

		
			<h4>knobコントロール</h4>
			<p>回転ノブです。ノブは真上を中心として270°回転します。setValueメソッドのvalueには[min, max]区間の数値が設定されます。</p>
			
			<pre><code class="javascript">
{
	type : 'knob',	// {string} 'knob'を指定する
	id : 'volume',	// {string} setValue(id,value)のidに対応する
	value : 0.5,	// {number} 初期値
	image : 'img/volume.png',	// {string} 画像パス
	height : 120,	// {number} 画像の高さ
	width : 120,	// {number} 画像の幅
	offsetx : 56,	// {number} コントロールパネル左上を原点とした右方向オフセット
	offsety : 95,	// {number} コントロールパネル左上を原点とした下方向オフセット
	min : 0,	// [optional] {number} 最小値(default: 0)
	max : 1,	// [optional] {number} 最代値(default: 1)
	step : 0.001,	// [optional] {number} 増減単位(default: 0.001)
	label: false,	// [optional] {boolean} trueのとき値がノブの中心に表示される。(default: false)
	
	// 以下label==trueの場合のみ有効
	labeloffsetx: 0,	// [optional] {number} ラベルの表示右方向オフセット(default: 0)
	labeloffsety: 0,	// [optional] {number} ラベルの表示右方向オフセット(default: 0)
	labelprefix: '',	// [optional] {string} ラベルの接頭文字(default: '')
	labelpostfix: ''	// [optional] {string} ラベルの接尾文字(default: '')
}
			</code></pre>
			
			<h4>toggleコントロール</h4>
			<p>トグルボタンです。setValueメソッドのvalueにはbooleanが設定されます。</p>
			
			<pre><code class="javascript">
{
	type : "toggle",	// {string} 'toggle'を指定する
	id : "glide",　		// {string} setValue(id,value)のidに対応する
	imageon : "img/on.png",	// {string} ON画像パス
	imageoff : "img/off.png",	// {string} OFF画像パス
	height : 24,	// {number} 画像の高さ
	width : 24,	// {number} 画像の幅
	value : 0,	// {number} 初期値。0か1を指定する。
	offsetx : 240,	// {number} コントロールパネル左上を原点とした右方向オフセット
	offsety : 144	// {number} コントロールパネル左上を原点とした下方向オフセット
}
			</code></pre>			

			<h4>radioコントロール</h4>		
			<p>ラジオボタンです。setValueメソッドのvalueには、offsets属性で設定した配列のインデックス値が設定されます。</p>
			<pre><code class="javascript">
{
	type : "radio",	// {string} 'radio'を指定する
	id : "oscillator", // {string} setValue(id,value)のidに対応する
	imageon : "img/on.png",	// {string} ON画像パス
	imageoff : "img/off.png",	// {string} OFF画像パス
	height : 24,	// {number} 画像の高さ
	width : 24,	// {number} 画像の幅
	value : 0,	// {number} 初期値。offsetsの配列インデックスを表示
	offsets : [
		{
			offsetx : 56,	// {number} コントロールパネル左上を原点とした右方向オフセット
			offsety : 48	// {number} コントロールパネル左上を原点とした下方向オフセット
		}, 
		{offsetx : 128, offsety : 48}, 
		{offsetx : 200, offsety : 48}, 
		{offsetx : 272, offsety : 48}
	]
}
			</code></pre>				
		</div>

		<div class="section">
			<h3>デバッグ方法</h3>
			<p>WebWorker内ではconsole.logなどのデバッグ用のAPIが提供されていません。プラグイン内でのオブジェクトの中身を確認したい場合は、callback要素を持たないオブジェクトをpostMessage()してください。そうすればホスト側のJavascriptコンソールで確認することが出来ます。</p>
		</div>
	</div>
	
</div>
{% endblock %}

{% block footer %}
	<p>
		© 2012. Yosuke Asano. | <a href="http://asaby.hatenablog.com/">blog</a>
	</p>
{% endblock %}


{% block scriptfile %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js//highlight.pack.js"></script>
<script type="text/javascript">
(function(){
	$(function(){
		{# arrange plugin-block like pinterest style #}
		if( $("div.plugin-block").length>2 ) {
			
			var $firstBlock = $("div.plugin-block:eq(0)"),
				$secondBlock = $("div.plugin-block:eq(1)");
				
			var height = 0, leftBottom = 0, rightBottom = 0, leftX = 0,
				rightX = $secondBlock.offset().left - $firstBlock.offset().left,
				margin = parseFloat($firstBlock.css("marginRight")) + 
					parseFloat($firstBlock.css("borderTopWidth")) +
					parseFloat($firstBlock.css("borderBottomWidth"));
			
			
			$("div.plugin-block").each(function(i, blockElem){
				var $block = $(blockElem); 
				if( leftBottom <= rightBottom ) {
					$block.css({
						"position": "absolute",
						"top": leftBottom,
						"left": leftX});
					leftBottom += $block.height()+margin; 
				}
				else {
					$block.css({
						"position": "absolute",
						"top": rightBottom,
						"left": rightX});
					rightBottom += $block.height()+margin;
				}
			});
			$("div.plugin-list").height(Math.max(leftBottom, rightBottom));
		}
		
		hljs.initHighlighting();
		
		(function(){
			$('#google_plusone').socialbutton('google_plusone', {
				lang: 'ja',
				size: 'medium',
				url: document.location.origin + document.location.pathname
			}).width(65);
			$('#twitter').socialbutton('twitter', {
				button: 'horizontal',
		        text: 'ConnectSynth',
				url: document.location.origin + document.location.pathname
			}).width(117);
			$('#facebook_like').socialbutton('facebook_like', {
				button: 'button_count',
				url: document.location.origin + document.location.pathname
			}).width(105);
		})();
	});
})();
</script>
{% endblock %}

