@import "mixins.less";
@import "vars.less";

/*
 * LESS variable
 */
// @content-color: #F8F8F8;
// @menu-color: #333333;
// @container-width: 1000px;
// @link-color: #0C2F30;//CC9977;
// @link-color-hover: #1F7A7D;//orange;
// @menu-font-color: #EEEEEE;
// @container-width: 1000px;
// @container-inner-padding: 20px;
// @hd-height: 42px;
// 
// @bg-color: #21294D;
// @first-accent-color: #FA6132;
// @second-accent-color: #F29746;


.gradation(@from, @to) {
    background-image: linear-gradient(@from, @to);
    background-image: -moz-linear-gradient(top, @from, @to);
    background-image: -ms-linear-gradient(top, @from, @to);
    background-image: -o-linear-gradient(top, @from, @to);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
}

/* 
 * reset
 */

* {
    margin: 0;
    padding: 0;    
}

h1,h2,h3,h4,p,td,tr,th,li,a{
    color: #333333;
    text-decoration: none;
}

body {
    background-color: @bg-color;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

/*
 * text
 */
body, pre {
    _font-family: Helvetica Neue,Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Mayryo','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

#content code {
    padding: 1.4em;
    font-family: monospace;
}

a {
    color: darken(@first-accent-color, 20%);
}
a:hover {
    color: @first-accent-color;
}

/*
 * layout
 */
div.section {
    width: 100%;
    div.sectioncontainer {
        width: @container-width;
        margin: 0 auto;
        
        
        div.sectioninnercontainer {
            padding-left: @container-inner-padding;
            padding-right: @container-inner-padding;
            
        }
        
    }
}


#header {
    z-index: 5;
    position: fixed;
    background-color: @menu-color;
    height: @hd-height;
    .box-shadow(0px 0px 5px rgba(0,0,0,.40));
    /*.box-shadow(0 0 10px, 60%);*/
    #logo {
        float: left;
        a, span { /* only before Logo image */
            display: inline-block;
            font-weight: bolder;
            _padding: 0 10px;
            line-height: @hd-height;
            color: @menu-font-color;
            font-size: 1.4em;
        }
    }
    #menu-left {
        margin: 0 20px;
        float: left;
        a, span {
            margin: 0 10px;
            display: inline-block;
            _padding: 0 10px;
            line-height: @hd-height;
            color: @menu-font-color;
            
        }
    }
    #menu {
        float: right;
        a, span {
            display: inline-block;
            _padding: 0 10px;
            line-height: @hd-height;
            color: @menu-font-color;
            
        }
        
    }
}

#content, #application {
    
    padding-top: @hd-height;
    
    div.sectioncontainer {
        background-color: @content-color;
        
        
    }
}

#footer {
    padding: 10px 0px 30px 0px;
    background-color: @menu-color;
    clear: both;
    _color: @menu-font-color;
}

#footer *{
    color: @menu-font-color;
}

// TODO: move the following to top.css

#content div.inner-section {
    padding-top: @container-inner-padding;
    clear: both;
}

@open-instrument-container-height: 100px;
@open-instrument-container-width: 240px;


#content .section-title {
    font-weight: 0.8em;
    border-bottom: 1px solid @first-accent-color;
}


#content div.plugin-block:hover {
    border-color: #BBBBBB;
}

@plugin-block-border-width: 1px;
@plugin-block-margin: 10px;
#content div.plugin-block {
    float: left;
    _display: inline-block;
    _width: (@container-width - 20 - @container-inner-padding*4) / 2;
    width: @container-width / 2 - 2 * @plugin-block-border-width - @plugin-block-margin / 2 - @container-inner-padding;
    _padding: @container-inner-padding;
    _margin: 5 - @plugin-block-border-width;
    margin: @plugin-block-margin 0 0 0;
    border: @plugin-block-border-width solid #D7D7D7;
}

#content div.plugin-block:nth-child(odd){
    margin-right: @plugin-block-margin;
}

#content div.plugin-list {
    position: relative;
}

@plugin-header-height: 30px;

#content div.plugin-header {
    background-color: #EEEEEE;
    padding-top: @container-inner-padding;
    padding-left: @container-inner-padding;
    padding-right: @container-inner-padding;
    padding-bottom: 3px;
}

#content div.plugin-title {
    height: @plugin-header-height;
}

#content div.plugin-title h3 {
    height: @plugin-header-height;
}

#content div.plugin-created {
    float: right;
    height: @plugin-header-height;
}

#content div.plugin-created p {
    font-size: 0.8em;
    line-height: @plugin-header-height;
}

#content div.plugin-info {
    padding: @container-inner-padding;
}

#content div.about-this-container {
    float: left;
    width: @container-width - @open-instrument-container-width - 2 * @container-inner-padding - 10;
    padding-right: 10px;
}

#content div.open-instrument-container {
    float: right;
    height: @open-instrument-container-height; 
}

@open-instrument-border-width: 1px;

#content a.open-instrument {
    color: lighten(@second-accent-color, 50%);
    display: inline-block;
    text-align: center;
    line-height: 98px;
    text-shadow: -1px -1px 0px darken(@second-accent-color, 30%);
    font-size: 1.5em;
    .box-shadow(inset 0px 1px 1px 0px lighten(@second-accent-color, 50%));
    width: @open-instrument-container-width - @open-instrument-border-width * 2;
    height: @open-instrument-container-height - @open-instrument-border-width * 2; 
    background-color: white;
    .border-radius(5px);
    #gradient > .vertical(@second-accent-color, darken(@second-accent-color, 10%));
    border: @open-instrument-border-width solid darken(@second-accent-color, 30%);
}

#content a.open-instrument:hover {
    #gradient > .vertical(darken(@second-accent-color, 5%), darken(@second-accent-color, 15%));
}

#content div.inner-header {
    _padding-top: @container-inner-padding;
}

#content div.plugin-area {
    _clear: both;
    _padding-top: @container-inner-padding;
    
}

#content .about-this-container{
    .title {
        line-height: 50px;
        float:left;
    }
    .title-container {
        .clearfix;
    }
    .socialbuttons {
        padding-top: 15px;
        float:right;
    }
}

#application .socialbuttons {
    padding-top: 7px;
    float:right;
}

.socialbutton {
    float: left;
    margin-left: 10px;
}


#content .description {
    position: relative;
    top: 10px;
    line-height: 20px;
    vertical-align: text-bottom;
}

#content div.develop-info {
    padding-bottom: @container-inner-padding;
    
}


@document-line-margin-height: 0.8em;
@document-line-margin-bottom: 0.5em;


#content .document {
    margin-left: 10px;
    margin-right: 10px;
}

#content .document .section {
    margin-top: 20px;
    margin-bottom: 40px;
}

#content .document p {
    line-height: 30px;
    margin: @document-line-margin-height 0 @document-line-margin-bottom 0px;
}

#content .document pre {
    margin: @document-line-margin-height 0 @document-line-margin-bottom 0px;
}
#content .document h3 {
    border-left: solid 4px @first-accent-color;
    text-indent: 0.4em;
    margin: 1.5*@document-line-margin-height 0 @document-line-margin-bottom 0px;
}
#content .document h4 {
    margin: 1.5*@document-line-margin-height 0 @document-line-margin-bottom 0px;
}
#content .document ul {
    margin: @document-line-margin-height 0 @document-line-margin-bottom 50px;
}
#content .document li {
    line-height: 150%;
}
#content .document table {
    margin: @document-line-margin-height 0 @document-line-margin-bottom 0px;
    border: 1px #D3D3D3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

#content .document table th {
    padding: 8px;
    border: #D3D3D3 solid;
    border-width: 0 0 1px 1px;
    background: #EEE;
    font-weight: bold;
    line-height: 150%;
    font-size: 0.9em;
    text-align: center;
}
#content .document table tr td:first-child {
    _text-align: center;
}
#content .document table td {
    padding: 10px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    line-height: 150%;
    font-size: 0.9em;
    _text-align: center;
}
